- Adafruit BME280 Library by Adafruit (version 2.2.2)
- Adafruit SGP40 by Adafruit (version 1.1.3)
- Adafruit VEML7700 by Adafruit (version 2.1.6)
- SparkFun SCD30 Arduino Library by SparkFun Electronics (version 1.0.20)
- Adafruit Unified Sensor by Adafruit (version 1.1.6 or above)
- OneWire by Paul Stoffregen (version 2.3.7)
- DallasTemperature by Miles Burton (version 3.9.0)
- MFRC522 by GithubCommunity (version 1.4.11)
- RTClib by Adafruit (version 2.1.1)
- SD Built-In by Arduino (version 1.2.4)


